#wrapper {
    border: 1px #555555;
    width: 400px;
    height: 400px;
    top: 25%;
    left: 40%;
    position: absolute;
}

#timerLeft {
    float: right;
}

#startQuiz {
    color: white;
    margin-left: 20%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #8399fd;
}

#questions {
    margin: 10px;
}

#questions h1 {
    margin-left: 55px;
}

button {
    border-radius: 10px;
}

textarea {
    width: 90%;
    margin: 15px;
}

#Submit {
    background-color: #8399fd;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    margin-left: 25%;
}
#clear {
    position: relative;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: gray;
}

#goBack {
    position: relative;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: gray;
}

/* h1 {
    text-align: center;
} */

li {
    background-color: #555555;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 8px;
}

#newDiv {
    margin-top: 15px;
    border-top: 2px lightslategray;
}




        /* A Media Query max-width: 786px */
        @media screen and (max-width: 786px) {
            /* Resized content to fit 786px  */
                body {
                    max-width: 786px;
                }
            /* Resized main-content to fit 786px  */
            #wrapper {
                position: absolute;
                left: 20%;
            }
            a {
                margin-left: 20%;
            }
                #goBack {
                    position: relative;
                    left: 55%;
                }
                #clear {
                    position: relative;
                    right: 5%;
                    
                }
            } 
            /* A Media Query max-width: 640px */
            @media screen and (max-width: 640px) {
             /* Resized content to fit 640px  */
             body {
                    min-width: 640px;
                }
            /* Resized main-content to fit 640px  */
            #wrapper {
                position: absolute;
                left: 10%;
            }
              a {
                  margin-left: 10%;
              }   
        }
