#wrapper {
    border: 1px #555555;
    width: 400px;
    height: 400px;
    top: 25%;
    left: 40%;
    position: absolute;
}

#timeLeft {
    float: right;
}

#startQuiz {
    color: white;
    margin-left: 20%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #8399fd;
}

#questions {
    margin: 10px;
}

#questions h1 {
    margin-left: 55px;
}

button {
    border-radius: 10px;
}

/* h1 {
    text-align: center;
} */

li {
    background-color: #555555;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 8px;
}



        /* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
        body {
            max-width: 786px;
        }

    }
        
    /* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
            min-width: 640px;
        }
    /* Resized main-content to fit 640px  */
    #wrapper {
        position: absolute;
        left: 10%;
    }


     
}