#wrapper {
    border: 1px #555555;
    width: 400px;
    height: 400px;
    top: 25%;
    left: 40%;
    position: absolute;
}

#timeLeft {
    float: right;
}

#startQuiz {
    color: white;
    margin-left: 20%;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #8399fd;
}

#questions {
    margin: 10px;
}

#questions h1 {
    margin-left: 55px;
}